<!-- Home-Card -->
<!-- <app-home-card></app-home-card> -->
<!-- Fin Home-Card -->
<!-- About-Us -->
<div
  class="md:mx-6 md;flex-column md:justify-content-center md:justify-content-center"
>
  <h1 class="font-bold">Sobre Nosotros</h1>
  <div
    class="md:w-12 flex md:align-items-center md:justify-content-between relative"
  >
    <div class="w-8 p-2 md:flex md:align-items-start md:justify-content-center">
      <img src="./assets/photo/r-5.jpg" alt="img5" class="w-4" />
    </div>
    <div
      class="md:w-20 flex md:flex-column md:align-items-center md:justify-content-center"
    >
      <div
        class="md:w-12 font-bold md:align-items-start md:justify-content-start"
      >
        <p>
          Compañeros De Viaje: Tu puerta de entrada a experiencias de viaje
          inolvidables
        </p>
      </div>
      <div class="md:w-8 md:align-items-start md:justify-content-start">
        <p>
          En CompañerosDeViaje, creemos que viajar es más que solo llegar a un
          destino. <br />Se trata de compartir experiencias, descubrir nuevos
          lugares y crear recuerdos duraderos con personas que comparten tus
          intereses.
        </p>
      </div>
    </div>
  </div>
  <div
    class="md:mx-6 md:w-12 flex md:align-items-center md:justify-content-between relative"
  >
    <div
      class="md:mx-6 md:w-20 flex md:flex-column md:align-items-center md:justify-content-center"
    >
      <div
        class="md:w-12 font-bold md:align-items-start md:justify-content-start"
      >
        <p>Nuestra misión:</p>
      </div>
      <ul>
        <li type="disc">
          Facilitar la conexión entre viajeros con intereses y destinos
          compartidos.
        </li>
        <li type="disc">
          Brindar una plataforma innovadora para encontrar ofertas irresistibles
          en viajes.
        </li>
        <li type="disc">
          Crear una comunidad vibrante de viajeros apasionados por explorar el
          mundo.
        </li>
      </ul>
    </div>
    <div class="w-8 p-2 md:flex md:align-items-start md:justify-content-center">
      <img src="./assets/photo/r-6.jpg" alt="img6" class="w-4" />
    </div>
  </div>
  <div
    class="md:mx-6 md:w-12 flex md:align-items-center md:justify-content-between relative"
  >
    <div class="w-8 p-2 md:flex md:align-items-start md:justify-content-center">
      <img src="./assets/photo/r-7.jpg" alt="img7" class="w-5" />
    </div>
    <div
      class="md:mx-6 md:w-20 flex md:flex-column md:align-items-center md:justify-content-center"
    >
      <div
        class="md:w-12 font-bold md:align-items-start md:justify-content-start"
      >
        <p>¿Cómo funciona?</p>
      </div>
      <ol>
        <li>
          Únete a la comunidad: Regístrate en CompañerosDeViaje y crea tu perfil
          de viajero.
        </li>
        <li>
          Encuentra tu grupo ideal: Busca entre miles de grupos ya formados o
          crea uno nuevo con tus intereses y destino.
        </li>
        <li>
          Disfruta de ofertas exclusivas: Accede a descuentos inigualables en
          hoteles, vuelos, tours y mucho más gracias al poder de negociación
          grupal.
        </li>
      </ol>
    </div>
  </div>
  <div
    class="md:mx-6 md:w-12 flex md:align-items-center md:justify-content-between relative"
  >
    <div
      class="md:mx-6 md:w-20 flex md:flex-column md:align-items-center md:justify-content-center"
    >
      <div
        class="md:w-12 font-bold md:align-items-start md:justify-content-start"
      >
        <p>¿Por qué elegir CompañerosDeViaje?</p>
      </div>
      <ul>
        <li type="disc">
          Comunidad: Conecta con viajeros de todo el mundo que comparten tu
          pasión por la aventura.
        </li>
        <li type="disc">
          Ahorro: Obtén ofertas increíbles en viajes gracias al poder de la
          negociación grupal.
        </li>
        <li type="disc">
          Flexibilidad: Elige tus propios compañeros de viaje, fechas y
          destinos.
        </li>
        <li type="disc">
          Seguridad: Viaja con tranquilidad con la confianza de nuestra
          plataforma segura.
        </li>
      </ul>
    </div>
    <div class="w-8 p-2 md:flex md:align-items-start md:justify-content-center">
      <img src="./assets/photo/r-8.jpg" alt="img8" class="w-4" />
    </div>
  </div>
  <div class="md:flex-column md:align-item-center md:justify-content-center">
    <p>¿Qué esperas?</p>
    <p>¡Empieza a explorar hoy mismo!</p>
    <p>#CompañerosDeViaje #ViajesCompartidos #AventurasInolvidables</p>
  </div>
</div>
<!-- Fin About-Us -->
