<footer class="py-1 footer">
  <div class="container">
    <footer class="py-2 my-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="nav justify-content-end">
              <li class="nav-item"><a routerLink="" class="nav-link px-2 btn-footer">Inicio</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link px-2 btn-footer">Buscar</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link px-2 btn-footer">Sobre Nosotros</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link px-2 btn-footer">Contacto</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link px-2 btn-footer">Politica de Privacidad</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <section class="buttons float-right">
              <a href="" target="_blank" class="fab fa-facebook"></a>
              <a href="" target="_blank" class="fab fa-instagram"></a>
              <a href="" target="_blank" class="fab fa-twitter"></a>
            </section>
          </div>
        </div>
      </div>
    </footer>
  </div>
</footer>
