<!-- Home-Card -->
<app-home-card></app-home-card>
<!-- Fin Home-Card -->
<!-- Terms -->
<div class=" md:mx-6 flex md:flex-column md:align-items-center md:justify-content-center">
  <h1>Términos y condiciones</h1>
  <div>
    <p>Bienvenido a CompañerosDeViaje</p>
  </div>
  <div>
    <p>Introducción</p>
    <p>Los presentes Términos y Condiciones regulan el uso de la plataforma CompañerosDeViaje (en adelante, la "Plataforma"). La Plataforma es un servicio online que permite a los usuarios (en adelante, los "Viajeros") conectar con otros usuarios que comparten sus intereses y destinos para realizar viajes en grupo.</p>
  </div>
  <div>
    <p>Aceptación de los Términos y Condiciones</p>
    <p>Al acceder, utilizar o registrarse en la Plataforma, el Usuario acepta expresamente los presentes Términos y Condiciones. Si el Usuario no está de acuerdo con los presentes Términos y Condiciones, no debe utilizar la Plataforma</p>
  </div>
  <div>
    <p>Uso de la Plataforma</p>
    <p>La Plataforma permite a los Usuarios:</p>
    <ul>
      <li type="disc">Crear un perfil personal.</li>
      <li type="disc">Unirse a grupos de viaje ya existentes o crear nuevos grupos.</li>
    </ul>
  </div>
  <div>
    <p>Responsabilidades del Usuario</p>
    <p>El Usuario se compromete a:</p>
    <ul>
      <li type="disc">Utilizar la Plataforma de forma responsable y lícita.</li>
      <li type="disc">No proporcionar información falsa o engañosa.</li>
      <li type="disc">No utilizar la Plataforma para fines ilegales o comerciales.</li>
      <li type="disc">No violar los derechos de propiedad intelectual de terceros.</li>
      <li type="disc">No acosar o molestar a otros usuarios.</li>
    </ul>
  </div>
  <div>
    <p>Derechos de CompañerosDeViaje</p>
    <p>CompañerosDeViaje se reserva el derecho de:</p>
    <ul>
      <li type="disc">Los daños o perjuicios causados por el uso de la Plataforma.</li>
      <li type="disc">La veracidad de la información proporcionada por los Usuarios.</li>
      <li type="disc">Los daños o perjuicios causados por la cancelación o modificación de un viaje.</li>
    </ul>
  </div>
  <div>
    <p>Propiedad Intelectual</p>
    <p>Los contenidos de la Plataforma, incluyendo el diseño, la información, las imágenes y los logotipos, son propiedad de CompañerosDeViaje. El Usuario no está autorizado a reproducir, distribuir o comunicar públicamente dichos contenidos sin la previa autorización por escrito de CompañerosDeViaje.</p>
  </div>
  <div>
    <p>Jurisdicción y Ley Aplicable</p>
    <p>Los presentes Términos y Condiciones se rigen por la legislación argentina. Cualquier controversia que surja en relación con la Plataforma se someterá a la jurisdicción de los tribunales de la ciudad de Buenos Aires.</p>
  </div>
  <div>
    <p>Contacto</p>
    <p>Si el Usuario tiene alguna pregunta o comentario sobre los presentes Términos y Condiciones, puede contactar con CompañerosDeViaje a través del formulario de contacto</p>
  </div>
  <div>
    <p>Fecha de vigencia:</p>
    <p>Esta Política de Privacidad fue actualizada por última vez el 20 de febrero de 2024.</p>
  </div>
  <div>
    <p>Al utilizar la plataforma, aceptas estos Términos y Condiciones.</p>
    <p>#CompañerosDeViaje #TerminosYCondiciones</p>
  </div>
</div>
<!-- Fin Privacy-policy -->
