<!-- Home-Card -->
<div
  class="md:w-12 flex md:align-items-center md:justify-content-between relative"
>
  <div class="w-8 p-2 md:flex md:align-items-start md:justify-content-center">
    <img
      src="./assets/svg/venice.svg"
      alt="Logo"
      class="bg-auto bg-no-repeat"
    />
  </div>
  <div
    class="md:w-6 flex md:flex-column md:align-items-center md:justify-content-center"
  >
    <div class="md:w-12 md:align-items-start md:justify-content-start">
      <h1>
        Viajamos Diferentes <br />
        Recorremos En Grupos
      </h1>
    </div>
    <div class="md:w-8 md:align-items-start md:justify-content-start">
      <p>
        En CompañerosDeViaje, estamos convencidos de que viajar en grupo es una
        experiencia incomparable. <br />No solo se trata de llegar a un destino,
        sino de compartir momentos únicos <br />
        con personas que comparten tu pasión por la aventura.<br />
        Conoce gente nueva, crea amistades duraderas, descubre lugares
        increíbles y sal de tu zona de confort. <br />Cada viaje en grupo es una
        oportunidad para vivir experiencias <br />
        inolvidables que te acompañarán para siempre.
      </p>
    </div>
    <!-- <button class="button-su-li" routerLink="/auth/new-account">Unite</button> -->
  </div>
</div>
<!-- Fin Home-Card -->
