<!-- Home-Card -->
<div class="w-12 px-3 sm:px-8 flex align-items-start justify-content-between">
  <div
    class="w-6 hidden sm:block flex align-items-start justify-content-center"
  >
    <img
      src="./assets/svg/venice.svg"
      alt="Logo"
      class="w-12 bg-cover hidden sm:block"
    />
  </div>
  <div class="w12 sm:w-6 flex flex-column">
    <div
      class="w-10 sm:px-5 pt-5 align-items-center justify-content-start text-3xl sm:text-7xl font-italic font-semibold"
    >
      Viajamos Diferentes <br />
      Recorremos En Grupos
    </div>
    <div
      class="w-12 sm:px-5 pt-3 text-sm sm:text-2xl text-500 line-height-3 align-items-start justify-content-start"
    >
      En CompañerosDeViaje, estamos convencidos de que viajar en grupo es una
      experiencia incomparable. No solo se trata de llegar a un destino, sino de
      compartir momentos únicos con personas que comparten tu pasión por la
      aventura. Conoce gente nueva, crea amistades duraderas, descubre lugares
      increíbles y sal de tu zona de confort. Cada viaje en grupo es una
      oportunidad para vivir experiencias inolvidables que te acompañarán para
      siempre.
    </div>
  </div>
</div>
<!-- Fin Home-Card -->
