// Footer
.footer{
  opacity: 1;
  background-color: rgb(00, 170, 167);
  color: rgb(00, 170, 167);
  text-align: center;
}

// Botones
.btn-footer:visited {
    font-weight: bold;
    text-decoration: none;
    color: rgb(27, 27, 27);
    padding: 10px 30px;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position:relative;
    letter-spacing: 1px;
    margin-left: 10px;
}

.btn-footer:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(00, 170, 167);
}

.btn-footer:active {
    transform: translateY(-3px);
}

.btn-footer::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
}

// Social Links
.buttons {
    min-width: 100px;
    display: flex;
  }

.buttons a {
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: rgb(00, 170, 167);
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }

  .buttons a:hover {
    transform: scale(1.2);
  }
