// Footer
.footer{
  opacity: 1;
  background-color: rgb(00, 170, 167);
  color: rgb(00, 170, 167);
  text-align: center;
}

// Botones
// Botones del Navbar
.button-footer {
  background-color: rgb(00, 170, 167);
  color: white;
  border-radius: 10em;
  font-size: 13px;
  font-weight: 600;
  padding: 1em 2em;
  letter-spacing: 1.5px;
  margin: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px;
}

.button-footer:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 rgb(00, 170, 167);
}

.button-footer:active {
  transform: translateY(2px) translateX(1px);
}

// Social Links
.buttons {
    min-width: 100px;
    display: flex;
  }

.buttons a {
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: rgb(00, 170, 167);
    color: #000000;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }

  .buttons a:hover {
    transform: scale(1.2);
  }
