<div
  class="py-3 px-3 sm:px-6 xl:px-8 flex flex-wrap align-items-center justify-content-center relative"
>
  <div
    class="w-12 sm:w-8 flex flex-wrap align-items-center justify-content-center"
  >
    <div class="w-12 flex align-items-center border-round-top-lg bg-cyan-100">
      <div class="text-left text-900 text-2xl font-semibold p-3">
        Editar grupo de viaje
      </div>
    </div>
    <form
      class="w-12 flex flex-wrap align-content-start py-3"
      autocomplete="off"
      [formGroup]="newGrpForm"
      (submit)="onSubmit()"
    >
      <div class="w-12 sm:w-6 flex flex-column px-4 pb-4">
        <div
          class="w-12 shadow-1 border-round-sm flex flex-column align-items-center justify-content-center"
        >
          <div
            class="w-12 p-3 flex align-items-center border-round-top-lg bg-cyan-100"
          >
            <i class="pi pi-map-marker"></i>
            <span class="px-1 font-medium text-xl">Destino</span>
          </div>
          <div class="w-12 border-round px-3 pb-1 flex align-items-center">
            <div class="w-full">
              <div class="py-1">
                <label for="spot" class="block text-900 font-medium my-1"
                  >Lugar de destino</label
                >
                <input
                  id="spot"
                  type="text"
                  pInputText
                  class="w-full mb-1"
                  formControlName="spot"
                />
                <small
                  id="spot"
                  class="hidden"
                  [ngClass]="{ 'p-error block': isValidField('spot') }"
                  >Este campo no puede estar vacío.</small
                >
              </div>
            </div>
          </div>
          <div class="w-12 border-round px-3 pb-1 flex align-items-center">
            <div class="w-full flex flex-wrap">
              <div
                class="w-12 sm:w-6 align-items-center justify-content-center"
              >
                <div class="sm:pr-2">
                  <label for="iDate" class="block text-900 font-medium my-1"
                    >Fecha inicio</label
                  >
                  <p-calendar
                    aria-describedby="iDate"
                    dateFormat="yy-mm-dd"
                    inputId="iDate"
                    dataType="string"
                    styleClass="w-full"
                    formControlName="iDate"
                  ></p-calendar>
                  <small
                    id="iDate"
                    class="hidden"
                    [ngClass]="{ 'p-error block': isValidField('iDate') }"
                    >Este campo no puede estar vacío.</small
                  >
                </div>
              </div>
              <div
                class="w-12 sm:w-6 align-items-center justify-content-center"
              >
                <div class="sm:pl-2">
                  <label for="fDate" class="block text-900 font-medium my-1"
                    >Fecha final</label
                  >
                  <p-calendar
                    aria-describedby="fDate"
                    dateFormat="yy-mm-dd"
                    inputId="fDate"
                    dataType="string"
                    styleClass="w-full"
                    formControlName="fDate"
                  ></p-calendar>
                  <small
                    id="fDate"
                    class="hidden"
                    [ngClass]="{ 'p-error block': isValidField('fDate') }"
                    >Este campo no puede estar vacío.</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="w-12 border-round px-3 pb-1 flex align-items-center">
            <div class="w-full flex flex-wrap">
              <div
                class="w-12 sm:w-6 align-items-center justify-content-center"
              >
                <div class="sm:pr-2">
                  <label for="budget" class="block text-900 font-medium my-1"
                    >Presupuesto</label
                  >
                  <p-inputNumber
                    mode="currency"
                    currency="ARS"
                    locale="es-AR"
                    styleClass="w-full"
                    formControlName="budget"
                  ></p-inputNumber>
                  <small
                    id="budget"
                    class="hidden"
                    [ngClass]="{ 'p-error block': isValidField('budget') }"
                    >Este campo no puede estar vacío.</small
                  >
                </div>
              </div>
              <div
                class="w-12 sm:w-6 align-items-center justify-content-center"
              >
                <div class="sm:pl-2">
                  <label for="people" class="block text-900 font-medium my-1"
                    >Cantidad minima de integrantes</label
                  >
                  <p-inputNumber
                    inputId="minmax"
                    inputId="minmax"
                    mode="decimal"
                    [min]="0"
                    [max]="20"
                    styleClass="w-full"
                    formControlName="people"
                  >
                  </p-inputNumber>
                  <small
                    id="people"
                    class="hidden"
                    [ngClass]="{ 'p-error block': isValidField('people') }"
                    >Este campo no puede estar vacío.</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="w-12 border-round px-3 pb-3 flex align-items-center">
            <div class="w-full">
              <div class="py-1">
                <label for="interest" class="block text-900 font-medium my-1"
                  >Intereses</label
                >
                <p-multiSelect
                  [options]="interests"
                  defaultLabel="Select"
                  optionLabel="name"
                  selectedItemsLabel="{0} items selected"
                  styleClass="w-full"
                  formControlName="interest"
                ></p-multiSelect>
                <small
                  id="interest"
                  class="hidden"
                  [ngClass]="{ 'p-error block': isValidField('interest') }"
                  >Este campo no puede estar vacío.</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-12 sm:w-6 flex flex-column px-4 pb-4">
        <div class="w-12 h-full shadow-1 border-round-sm flex flex-column">
          <div
            class="w-12 p-3 flex align-items-center border-round-top-lg bg-cyan-100"
          >
            <i class="pi pi-paperclip"></i>
            <span class="px-1 font-medium text-xl">Itinerario</span>
          </div>
          <div class="w-12 border-round px-3 pb-3 flex align-items-center">
            <div class="w-full">
              <div class="py-1">
                <label for="plan" class="block text-900 font-medium my-1"
                  >Itinerario propuesto</label
                >
                <textarea
                  rows="10"
                  cols="30"
                  pInputTextarea
                  [autoResize]="false"
                  styleClass="w-full"
                  class="w-full"
                  formControlName="plan"
                ></textarea>
                <small
                  id="plan"
                  class="hidden"
                  [ngClass]="{ 'p-error block': isValidField('plan') }"
                  >Este campo no puede estar vacío.</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-12 font-bold flex align-items-center justify-content-around"
      >
        <p-button
          label="Cancelar"
          styleClass="p-button-sm p-button-outlined"
          routerLink="/book/home"
        ></p-button>
        <p-button
          type="submit"
          label="Editar grupo"
          styleClass="p-button-sm p-button-secondary"
        ></p-button>
      </div>
    </form>
  </div>
</div>
