<!-- Home-Card -->
<app-home-card></app-home-card>
<!-- Fin Home-Card -->
<!-- Privacy-Polity -->
<div class=" md:mx-6 flex md:flex-column md:align-items-center md:justify-content-center">
  <h1>Politicas de privacidad</h1>
  <div>
    <p>CompañerosDeViaje se compromete a proteger la privacidad de sus usuarios. Esta Política de Privacidad explica cómo recopilamos, utilizamos y protegemos la información personal que usted nos proporciona.</p>
  </div>
  <div>
    <p>Información que recopilamos:</p>
    <ul>
      <li type="disc">Información de registro: Cuando te registras en CompañerosDeViaje, te pedimos que nos proporciones información personal como tu nombre, dirección de correo electrónico, contraseña, fecha de nacimiento y país de residencia.</li>
      <li type="disc">Información de pago: Si reservas un viaje a través de la plataforma, recopilaremos información de pago, como el número de tarjeta de crédito y la fecha de vencimiento.</li>
      <li type="disc">Información de uso: Recopilamos información sobre cómo utilizas la plataforma, como las páginas que visitas, los grupos a los que te unes y las búsquedas que realizas.</li>
      <li type="disc">Información de dispositivos: Recopilamos información sobre el dispositivo que utilizas para acceder a la plataforma, como la dirección IP, el tipo de dispositivo y el sistema operativo.</li>
    </ul>
  </div>
  <div>
    <p>Cómo utilizamos la información:</p>
    <ul>
      <li type="disc">Para proporcionarte el servicio: Utilizamos la información que recopilamos para proporcionarte el servicio que has solicitado, como ayudarte a encontrar compañeros de viaje y gestionar tu cuenta.</li>
      <li type="disc">Para mejorar la plataforma: Utilizamos la información que recopilamos para mejorar la plataforma, como personalizar tu experiencia, mostrarte ofertas relevantes y desarrollar nuevas funciones.</li>
      <li type="disc">Para comunicarnos contigo: Utilizamos la información que recopilamos para comunicarnos contigo sobre tu cuenta, los viajes que has reservado y otras ofertas que puedan interesarte.</li>
      <li type="disc">Para fines legales: Utilizamos la información que recopilamos para cumplir con nuestras obligaciones legales, como prevenir el fraude y proteger la seguridad de nuestros usuarios.</li>
    </ul>
  </div>
  <div>
    <p>Cómo compartimos la información:</p>
    <ul>
      <li type="disc">Con proveedores de servicios: Compartimos la información que recopilamos con proveedores de servicios que nos ayudan a operar la plataforma, como proveedores de alojamiento web, empresas de procesamiento de pagos y proveedores de servicios de marketing.</li>
      <li type="disc">Con autoridades legales: Podemos compartir la información que recopilamos con las autoridades legales si lo exige la ley o si es necesario para proteger nuestros derechos o los derechos de nuestros usuarios.</li>
      <li type="disc">Con tu consentimiento: Podemos compartir la información que recopilamos con otras empresas con tu consentimiento.</li>
    </ul>
  </div>
  <div>
    <p>Tus opciones:</p>
    <ul>
      <li type="disc">Acceso a tu información: Puedes acceder a la información personal que tenemos sobre ti y actualizarla en cualquier momento iniciando sesión en tu cuenta.</li>
      <li type="disc">Eliminar tu cuenta: Puedes eliminar tu cuenta en cualquier momento poniéndote en contacto con nosotros.</li>
    </ul>
  </div>
  <div>
  <p>Tomamos medidas razonables para proteger la información personal que recopilamos de la pérdida, el uso indebido, el acceso no autorizado, la divulgación, la alteración o la destrucción.</p>
  </div>
  <div>
  <p>Cambios en la Política de Privacidad: <br> Podemos actualizar esta Política de Privacidad de vez en cuando. Te notificaremos de cualquier cambio importante en la Política de Privacidad por correo electrónico o mediante un aviso en la plataforma.</p>
  </div>
  <div>
  <p>Contacto: <br> Si tienes alguna pregunta sobre esta Política de Privacidad, puedes contactarnos a través de la plataforma.</p>
  </div>
  <div>
  <p>Fecha de vigencia: <br>Esta Política de Privacidad fue actualizada por última vez el 20 de febrero de 2024.<br> Al utilizar la plataforma, aceptas esta Política de Privacidad.<br>#CompañerosDeViaje #Privacidad #Seguridad</p>
  </div>
</div>
<!-- Fin Privacy-policy -->
