<!-- Home-Card-->
<!-- <app-home-card></app-home-card> -->
<!-- Fin Home-Card -->
<!-- Contact -->
<div class="px-3 flex flex-column justify-content-center">
  <h1 class="text-2xl sm:text-3xl font-bold">Contacto</h1>
  <p class="text-500 line-height-2 text-lg">
    En CompañerosDeViaje, estamos aquí para ayudarte a vivir experiencias de
    viaje inolvidables. Si tienes alguna pregunta, comentario o sugerencia, no
    dudes en contactarnos.
  </p>
  <p class="font-medium text-700 text-lg">Puedes contactarnos a través de:</p>
  <ul class="text-500 text-lg">
    <li>
      Formulario de contacto: Completa el siguiente formulario y nos pondremos
      en contacto contigo a la brevedad.
    </li>
    <li>
      Redes sociales: Síguenos en nuestras redes sociales y envíanos un mensaje
      privado.
    </li>
  </ul>
</div>
<div class="w-12 px-3 flex flex-wrap">
  <div class="w-12 sm:w-3 flex justify-content-center">
    <img src="./assets/photo/r-4.png" alt="travel-image" />
  </div>
  <div class="w-12 sm:w-6 flex-column">
    <form action="#" autocomplete="off">
      <p>Tu Nombre</p>
      <input type="text" name="nombre" placeholder="Tu Nombre" class="campo" />
      <p>Tu Email</p>
      <input type="emal" name="email" placeholder="Tu Email" class="campo" />
      <p>Tu Mensaje</p>
      <textarea name="mensaje" placeholder="Tu Mensaje..."></textarea>
      <input type="submit" name="enviar" value="Enviar" class="btn-enviar" />
    </form>
  </div>
  <div class="w-12 sm:w-3 text-teal-400 font-semibold">
    <p>Nos pondremos en contacto contigo lo antes posible.</p>
    <p>¡Gracias por contactarnos!</p>
    <p>#CompañerosDeViaje #Contacto #Soporte</p>
  </div>
</div>
<!-- Fin Contact -->
