.container-form{
  width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form form .campo, textarea{
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form textarea{
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.btn-enviar{
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: rgb(00, 170, 167);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
